### Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.config
atlassian-ide-plugin.xml
### IntelliJ
.idea
*.iml
*.ipr
*.iws
### Gulp
.tmp/
app/bower_components/
dist/
node_modules/
### Other
build.sh
release.sh
*.log
