extends /layouts/_page

block content
    .row
        .col-md-offset-3.col-md-6.col-xs-12
            h3 ${artifactId}
            p &copy; 2015 Monkeys in Town Lda.
            p
                a(href='mailto:cheetah@monkeysintown.com') cheetah@monkeysintown.com
