//if lt IE 9
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>

//script(src='bower_components/fastclick/lib/fastclick.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
// build:js scripts/vendor.js
// bower:js
script(src='bower_components/moment/moment.js')
script(src='bower_components/stacktrace-js/stacktrace.js')
script(src='bower_components/angular/angular.js')
script(src='bower_components/angular-animate/angular-animate.js')
script(src='bower_components/angular-touch/angular-touch.js')
script(src='bower_components/angular-cookies/angular-cookies.js')
script(src='bower_components/angular-sanitize/angular-sanitize.js')
script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
script(src='bower_components/angular-ui-utils/ui-utils.js')
script(src='bower_components/angular-strap/dist/angular-strap.js')
script(src='bower_components/angular-strap/dist/angular-strap.tpl.js')
script(src='bower_components/angular-gettext/dist/angular-gettext.js')
script(src='bower_components/angular-file-upload/angular-file-upload.js')
script(src='bower_components/angular-moment/angular-moment.js')
script(src='bower_components/angular-xeditable/dist/js/xeditable.js')
// endbower
// endbuild

//script(src='scripts/parts.tpl.js')
//script(src='scripts/views.tpl.js')

// build:js scripts/scripts.js
script(src='scripts/app.js')
script(src='scripts/services/stacktrace.js')
script(src='scripts/controllers/app.js')
script(src='scripts/controllers/about.js')
script(src='scripts/controllers/navbar.js')
script(src='scripts/controllers/footer.js')
// endbuild
